@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularText-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
